.kindling {
	background-color: white;
	border:thin solid #ccc;
	width: 200px;
	height: 200px;
}
.kindling .symbol{
	color: #999;
	font-size: 12px;
	display: block;
	background-color: #efefef;
	width: 100%;
	left: 0px;
	top: 0px;
	padding: 5px;
	font-weight: bold;
}

.kindling .video {
font-size: .9em;
right: 2.1em;
bottom: 2em;
color: rgb(29, 163, 216);
}
.kindling .rec {
font-size: .9em;
right: 3em;
bottom: .5em;
}
.kindling .rec span{
	right: 10px;
	top: 4px;
	color: rgb(240, 187, 18);
}


.kindling .end,.kindling .salary {
right: 1em;
top: 3em;
color: #aaa;
font-size: 12px;
line-height: 1em;
}
.kindling .salary {
	left:1em;
}
.kindling .weight { left:1em;}
.kindling .tasks{
	top: 4.5em;
	left: 1em;
	width: 175px;
}
.kindling .badge{
	bottom: .25em;
	left: 4.5em;
	padding: 2px 6px;
	font-size: .75em;
}
.modal{
	width: 800px;
height: 580px;

}
.modal .modal-dialog{width:650px;}
.maintenance{background-color: #5cb85c}
.cert{background-color: #5bc0de;}
.manage{background-color: #f0ad4e;}
.service{background-color: #d9534f;}
.prep{background-color: #428bca;}